@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style30 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 237px;
flex-direction: column;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx590.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 16px;
margin-top: 24px;
width: 18px;
height: 18px;}
.artboard4container14row1 {
display: flex;
margin-top: 14px;
width: 50px;
height: 8px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style33 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style31 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style32 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 8px;}
.style36 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx5ex.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 155px;
margin-top: 37px;
width: 67px;
height: 64px;}
.style26 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 49px;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx4wu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 16px;
width: 21px;
height: 21px;}
.style22 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 334px;
align-items: center;
flex-direction: column;}
.style23 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 5px;
width: 309px;
height: 42px;
flex-direction: column;
justify-content: center;}
.style24 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx4lo.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 106px;
width: 13px;
height: 15px;}
.style0 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 50px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style30 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 485px;
flex-direction: column;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx590.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 33px;
margin-top: 49px;
width: 37px;
height: 37px;}
.artboard4container14row1 {
display: flex;
margin-top: 29px;
width: 102px;
height: 16px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style33 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style31 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style32 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 16px;}
.style36 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx5ex.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 317px;
margin-top: 76px;
width: 137px;
height: 131px;}
.style26 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 100px;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx4wu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 33px;
width: 43px;
height: 43px;}
.style22 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 684px;
align-items: center;
flex-direction: column;}
.style23 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 10px;
width: 633px;
height: 86px;
flex-direction: column;
justify-content: center;}
.style24 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx4lo.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 217px;
width: 27px;
height: 31px;}
.style0 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 102px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style30 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 581px;
flex-direction: column;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx590.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 39px;
margin-top: 59px;
width: 44px;
height: 44px;}
.artboard4container14row1 {
display: flex;
margin-top: 34px;
width: 123px;
height: 20px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style33 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style31 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style32 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 20px;}
.style36 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx5ex.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 380px;
margin-top: 91px;
width: 164px;
height: 157px;}
.style26 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 120px;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx4wu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 39px;
width: 52px;
height: 52px;}
.style22 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 819px;
align-items: center;
flex-direction: column;}
.style23 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 12px;
width: 758px;
height: 103px;
flex-direction: column;
justify-content: center;}
.style24 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx4lo.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 260px;
width: 32px;
height: 37px;}
.style0 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 123px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style30 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 758px;
flex-direction: column;}
.style35 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx590.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 51px;
margin-top: 77px;
width: 58px;
height: 58px;}
.artboard4container14row1 {
display: flex;
margin-top: 45px;
width: 160px;
height: 26px;
align-items: stretch;
align-self: center;
justify-content: space-between;}
.style33 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style31 {
background-color: #b4b4b4;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style32 {
background-color: #0088ff;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
width: 26px;}
.style36 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx5ex.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 496px;
margin-top: 118px;
width: 214px;
height: 205px;}
.style26 {
background-color: #f55511;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 157px;
flex-direction: column;
justify-content: center;}
.style29 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx4wu.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 51px;
width: 67px;
height: 67px;}
.style22 {
background-color: #ffffff;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 1069px;
align-items: center;
flex-direction: column;}
.style23 {
background-color: #0086ff;
box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25098039215686274);
display: flex;
margin-top: 16px;
width: 989px;
height: 134px;
flex-direction: column;
justify-content: center;}
.style24 {
background-image: url('https://designresources.assets.yotako.io/80syc5d1tjmrrx4lo.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 339px;
width: 42px;
height: 48px;}
.style0 {
background-color: #242424;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 160px;}
}